/*BARRA DE MENU*/

.menu {
    background-color: var(--verde_escuro);
    height: 80px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.logotipo1 {
    width: 60px;
    height: 60px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.logotipo1:hover {
    transform: scale(1.1);
}

.label_menu,
.checkbox {
    display: none;
}

.logotipo2 {
    width: 60px;
    height: 60px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
}

.logotipo2:hover {
    transform: scale(1.1);
}

.menu_burger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
}

.menu_burger::before,
.menu_burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin-top: 5px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    height: 75px;
    width: 800px;
}

.home {
    display: flex;
    color: var(--branco);
    text-decoration: none;
    height: 50px;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.home:hover {
    background-color: var(--verde);
    border-radius: 16px;
    transition: 0.1s linear;
    transform: scale(1.1);
}

.cardapio {
    display: flex;
    color: var(--branco);
    text-decoration: none;
    height: 50px;
    width: 130px;
    justify-content: center;
    align-items: center;
}

.cardapio:hover {
    background-color: var(--verde);
    border-radius: 16px;
    transition: 0.1s linear;
    transform: scale(1.1);
}

.onde_estamos {
    display: flex;
    color: var(--branco);
    text-decoration: none;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.onde_estamos:hover {
    background-color: var(--verde);
    border-radius: 16px;
    transition: 0.1s linear;
    transform: scale(1.1);
}

.cadastro {
    display: flex;
    color: var(--branco);
    text-decoration: none;
    height: 50px;
    width: 130px;
    justify-content: center;
    align-items: center;
}

.cadastro:hover {
    background-color: var(--verde);
    border-radius: 16px;
    transition: 0.1s linear;
    transform: scale(1.1);
}

/*BANNER*/

.banner {
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

/*.itens_banner {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
}*/

.img_banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo_branco {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aa {
    background: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 120px;
}

.bb {
    background: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 120px;
}

.cc {
    background: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.picoles {
    width: 250px;
    height: 150px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    margin: 20px 120px 0 -20px;
}

.picoles:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}

.bola_sorvete {
    width: 180px;
    height: 110px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    margin: 15px 120px 0 -20px;
}

.bola_sorvete:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}

.cafe_preto {
    width: 150px;
    height: 120px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    margin-left: 35px;
    margin-top: 5px;
}

.cafe_preto:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}

/*PAINEL CARACTERISTICAS*/

.painel {
    height: 480px;
    background-color: var(--verde_escuro);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo_icones {
    display: grid;
}

.caracteristicas {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones {
    height: 400px;
    width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.mais20 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--verde_claro);
    border-radius: 6px;
    height: 150px;
    width: 140px;
    box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 150px;
}

.mais20:hover {
    transform: scale(1.1);
    background-color: var(--verde);
    transition: 0.2s linear;
}

.img_mais20 {
    height: 120px;
    width: 120px;
    margin-right: 15px;
}

.frase_mais20 {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 25px;
}

.cafe_rosa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--verde_claro);
    border-radius: 6px;
    height: 150px;
    width: 140px;
    box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 150px;
}

.cafe_rosa:hover {
    transform: scale(1.1);
    background-color: var(--verde);
    transition: 0.2s linear;
}

.img_cafe_rosa {
    height: 90px;
    width: 90px;
    margin: 15px 0 20px 10px;
}

.frase_cafe {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.sem_leite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--verde_claro);
    border-radius: 6px;
    height: 150px;
    width: 140px;
    box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
}

.sem_leite:hover {
    transform: scale(1.1);
    background-color: var(--verde);
    transition: 0.2s linear;
}

.img_sem_leite {
    height: 90px;
    width: 90px;
    margin: 0 0 10px 15px;
}

.frase_lactose {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;

}

.criancas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--verde_claro);
    border-radius: 6px;
    height: 150px;
    width: 140px;
    box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
    margin-right: 150px;
}

.criancas:hover {
    transform: scale(1.1);
    background-color: var(--verde);
    transition: 0.2s linear;
}

.img_criancas {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.frase_crianca {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.reciclavel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--verde_claro);
    border-radius: 6px;
    height: 150px;
    width: 140px;
    box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
}

.reciclavel:hover {
    transform: scale(1.1);
    background-color: var(--verde);
    transition: 0.2s linear;
}

.img_reciclavel {
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}

.frase_reciclavel {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

/*RODAPE*/

.rodape {
    background-color: var(--verde_escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;

}

.sorvete,
.logo_facebook,
.logo_instagram {
    height: 60px;
    width: 60px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.logo_facebook,
.logo_instagram {
    margin: 15px;
}

.logo_facebook:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}

.logo_instagram:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}

.itens_rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase_siga,
.frase_fique {
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    width: 250px;
    text-align: center;
    margin: 0 25px;
}

/*
.menu-toggle,
.menu-icon {
    display: none;
}*/

@media screen and (max-width:1000px) {

    body {
        display: block;
    }

    .logotipo1 {
        display: block;
        width: 50px;
        height: 50px;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background: var(--verde_escuro);
        text-align: center;
        width: 100%;
        height: 300px;
        z-index: 1;
        box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }

    .links a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid var(--verde_claro);
        border-radius: 0;
    }


    .label_menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--branco);
        padding-block: 1rem;
        cursor: pointer;
    }

    .burger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: var(--branco);
        margin-top: 0.3125rem;
    }

    .checkbox:checked~.links {
        display: flex;
    }


    .logotipo2 {
        display: none;
    }



    /*
    .container,
    .menu {
        height: 50px;
    }*/


    .container {
        justify-content: space-around;
    }



    /*
    .home {
        display: block;
        margin: 0;
    }

     .cardapio,
    .onde_estamos,
    .cadastro {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 500px;
        background-color: aqua;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }*/

    .banner {
        display: none;
    }

    .painel {
        margin: 40px 0;
        text-align: center;
        height: 650px;
    }

    .titulo_icones {
        display: block;
    }

    .caracteristicas {
        display: block;
        font-size: 30px;
        padding: 15;
        height: 35px;
        font-size: 30px;
    }

    .icones {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        height: auto;
        /*
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        height: auto;
        top: 50%;
        left: 50%;
        margin-top: -275px;
        margin-left: -200px;*/
    }

    .mais20,
    .cafe_rosa,
    .criancas,
    .sem_leite,
    .reciclavel {
        margin: 0 0 20px 0;
    }

    .rodape {
        display: block;
        text-align: center;
        height: 170px;
        padding: 10px;
    }

    .sorvete {
        display: none;
    }


    .itens_rodape {
        display: block;
        text-align: center;
        justify-content: center;
        height: 150px;
    }

    .frase_siga {
        display: block;
        text-align: center;
        font-size: 24px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 410px;
        margin-left: -120px;
    }

    .frase_fique {
        display: block;
        text-align: center;
        font-size: 24px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 530px;
        margin-left: -120px;
    }

    .logo_facebook,
    .logo_instagram {
        height: 40px;
        width: 40px;
        margin-top: 60px;
    }
}